{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">

	  <div class="page-heading"> Publications </div>

		      
	     For an up-to-date list, please check <a href="https://scholar.google.co.uk/citations?user=AGoNHcsAAAAJ&hl=en">Google Scholar</a>
  
  {{ range .Data.Pages.GroupByDate "2006"  }}
  <h2 class="publications_year">{{ .Key }}</h2>
 {{ range .Pages.ByDate.Reverse }}
  <div class="paper-title">
    {{ .Title }}
  </div>

  <span class="author-list">
    {{ with .Params.authors }}
    {{ delimit . ", " | markdownify }}.
    {{ end }}
  </span>
  <span class="where-published">
    {{ .Params.where_published }}
  </span> &nbsp;

  {{ if isset .Params "equal_contrib" }}
  <span class="equal-contrib">
    <sup>&#8224;</sup> authors contributed equally
  </span>
  {{ end }}
  <br>
  {{ partial "publication_links" (dict "content" . "is_list" 1) }}
  
  {{ if isset .Params "is_journal" }}
  <pre id='{{ .Params.bibtex_hash }}' class="bibtex">
&#64;&#123;{{ .Params.bibtex_hash }},
    title=&#123;{{ .Title }}&#125;,
    author=&#123;{{ .Params.authors_bibtex }}&#125;,
    journal=&#123;{{ .Params.where_published_bibtex }}&#125;,
    year=&#123;{{ .Params.year }}&#125;
&#125;</pre>
  {{else}}
  <pre id='{{ .Params.bibtex_hash }}' class="bibtex">
&#64;inproceedings&#123;{{ .Params.bibtex_hash }},
  title=&#123;{{ .Title }}&#125;,
  author=&#123;{{ .Params.authors_bibtex}}&#125;,
  booktitle=&#123;{{ .Params.where_published_bibtex}}&#125;,
  year=&#123;{{ .Params.year }}&#125;
&#125;</pre>
  {{ end }}
  <p></p>
  {{ end }}
  {{ end }}
        </div>
    </div>
</section>
{{ partial "footer.html" . }}

